/* Estilos para el contenedor del buscador */
.search-box {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 15px;
}

.search-box input[type="text"] {
    padding: 10px;
    border: none; 
    border-bottom: 1px solid #ccc; /* Agregamos solo un borde inferior */
    text-align: center;
    border-radius: 0; /* Quitamos el redondeo de los bordes */
    font-size: 16px;
    width: 250px;
    margin-right: 20px;
    outline: none; /* Elimina el contorno al hacer clic */
}

.search-box input[type="text"]:focus {
    border-bottom-color: transparent; /* Anula el borde inferior al hacer clic */
}



/* Estilos para el botón de búsqueda */
.search-box button {
    padding: 10px 20px;
    background-color: #ff00f2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.search-box button:hover {
    background-color: #b300a4;
}
